<h1 class="header-title">Información de rentas de carros</h1>

<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col" class="first-header">Carro</th>
        <th scope="col" class="a">Cliente</th>
        <th scope="col" class="last-header">Fecha de entrega</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>

        </td>
        <td><button>Ver Detalles</button></td>
      </tr>
    </tbody>
  </table>
</div>
