<h1 class="header-title">Información de Rentas de Carros</h1>

<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col" class="first-header">First Name</th>
        <th scope="col" class="a">Last Name</th>
        <th scope="col" class="a">Email</th>
        <th scope="col" class="a">Phone Number</th>
        <th scope="col" class="a">Number License</th>
        <th scope="col" class="last-header">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <!-- Los datos se agregarán aquí dinámicamente -->
    </tbody>
  </table>
</div>

