<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col" class="first-header">Brand</th>
        <th scope="col" class="a">Model</th>
        <th scope="col" class="a">Year</th>
        <th scope="col" class="a">Type of Car</th>
        <th scope="col" class="a">Plate Number</th>
        <th scope="col" class="a">Price per Day</th>
        <th scope="col" class="last-header">Available</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí irán las filas con los datos -->
    </tbody>
  </table>
</div>
